@import "variables.scss";

body {
  min-width: 320px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
  color: $dark-color;
  background-color: $white-color;
}

a {
  color: $dark-color;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
}

.button {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 14px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
  color: $dark-color;
  text-align: center;
  text-transform: uppercase;
  word-break: break-all;
  background-color: transparent;
  border: 2px solid $dark-color;
  border-radius: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $dark-color;
  }

  &:active {
    color: $down-white-link;
    background-color: $dark-color;
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0;
  }
}
