@import "normalize.scss";
@import "fots.scss";
@import "common.scss";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/site-list";
@import "blocks/user";
@import "blocks/goods";
@import "blocks/delivery";
@import "blocks/page-main";
@import "blocks/intro";
@import "blocks/popular-product";
@import "blocks/advantages";
@import "blocks/reviews";
@import "blocks/slider";
@import "blocks/contacts";
@import "blocks/catalog";
@import "blocks/product";
@import "blocks/production";
@import "blocks/order";
@import "blocks/type";
@import "blocks/color";
@import "blocks/name";
@import "blocks/page-footer";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/modal";
