$dark-color: rgb(68, 68, 68);
$black-color: rgb(0, 0, 0);
$hover-black-link: rgba(0, 0, 0, 0.6);
$down-black-link: rgba(0, 0, 0, 0.3);
$white-color: rgba(255, 255, 255, 1);
$hover-white-link: rgba(255, 255, 255, 0.6);
$down-white-link: rgba(255, 255, 255, 0.3);
$hover-link-opacity: 0.6;
$down-link-opacity: 0.3;
