@import "../variables";

.copyright {
  display: flex;
  justify-content: center;
  padding: 20px 38px;

  .copyright__link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 19px;
    line-height: 1;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;

    &:active {
      opacity: $down-link-opacity;
    }

    &:hover .copyright__icon,
    &:focus .copyright__icon {
      fill: $dark-green-color;
    }
  }

  .copyright__icon {
    fill: $light-green-color;
    margin-left: 30px;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;

    .copyright__link {
      margin: 1px 0 0 0;
    }

    .copyright__icon {
      margin-top: 5px;
    }
  }
}
