@import "../variables";

.advantages {
  padding-bottom: 25px;

  .advantages__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;

    &--price {
      margin-bottom: 35px;
    }

    &--handmade {
      margin-bottom: 34px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .advantages__icon {
    margin-bottom: 15px;
    fill: $light-green-color;

    &--ecology {
      margin-left: 8px;
      margin-bottom: 17px;
    }

    &--price {
      margin-bottom: 26px;
    }

    &--likes {
      margin-left: 7px;
      margin-bottom: 22px;
    }

    &--handmade {
      margin-left: 3px;
      margin-bottom: 17px;
    }

    &--domestic {
      margin-left: -6px;
      margin-bottom: 28px;
    }

    &--gift {
      margin-left: 3px;
      margin-bottom: 19px;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-bottom: 50px;

    .advantages__title {
      margin: 45px 0 50px;
    }

    .advantages__list {
      display: flex;
      flex-wrap: wrap;
    }

    .advantages__item {
      flex-basis: 50%;
      font-size: 20px;
      line-height: 22px;

      &--ecology {
        order: 1;
        margin-bottom: 60px;
      }

      &--price {
        order: 3;
        margin-bottom: 58px;
      }

      &--likes {
        order: 5;
      }

      &--handmade {
        order: 2;
      }

      &--domestic {
        order: 4;
      }

      &--gift {
        order: 6;
      }
    }

    .advantages__icon {
      //

      &--handmade {
        margin-top: 3px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-bottom: 60px;

    .advantages__title {
      margin-left: 170px;
    }

    .advantages__list {
      padding: 0 175px;
    }
  }
}
