@import "../variables";

.advantages {
  padding-bottom: 25px;

  .advantages__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .advantages__item {
    margin-bottom: 30px;
    padding-top: 55px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;

    &--ecology {
      background: url("../img/icon-feature-flower.svg") 8px 0 no-repeat;
      margin-bottom: 29px;
    }

    &--price {
      margin-bottom: 35px;
      padding-top: 53px;
      background: url("../img/icon-feature-money.svg") 0 0 no-repeat;
    }

    &--likes {
      margin-bottom: 32px;
      padding-top: 48px;
      background: url("../img/icon-feature-heart.svg") 7px 0 no-repeat;
    }

    &--handmade {
      margin-bottom: 33px;
      padding-top: 51px;
      background: url("../img/icon-feature-ball.svg") 3px 0 no-repeat;
    }

    &--domestic {
      margin-bottom: 31px;
      padding-top: 50px;
      background: url("../img/icon-feature-rocket.svg") 0 0 no-repeat;
    }

    &--gift {
      padding-top: 52px;
      background: url("../img/icon-feature-gift.svg") 3px 0 no-repeat;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-bottom: 50px;

    .advantages__title {
      margin: 45px 0 50px;
    }

    .advantages__list {
      display: flex;
      flex-wrap: wrap;
    }

    .advantages__item {
      flex-basis: 50%;
      font-size: 20px;
      line-height: 22px;

      &--ecology {
        order: 1;
        margin-bottom: 60px;
      }

      &--price {
        order: 3;
        margin-bottom: 58px;
      }

      &--likes {
        order: 5;
      }

      &--handmade {
        order: 2;
      }

      &--domestic {
        order: 4;
      }

      &--gift {
        order: 6;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-bottom: 60px;

    .advantages__title {
      margin-left: 170px;
    }

    .advantages__list {
      padding: 0 175px;
    }
  }
}
