@import "../variables";

.catalog {
  padding-top: 30px;

  .catalog__item {
    //
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 80px;

    .catalog__item {
      display: flex;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 130px;

    .catalog__item {
      flex-direction: column;
      width: 30%;
      margin-right: 4.76%;

      &:nth-of-type(3) {
        margin-right: 0;
      }
    }
  }
}
