@import "../variables";

.color {
  //

  &__item {
    margin-bottom: 22px;
  }

  &__label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0 10px 65px;
    cursor: pointer;
  }

  &__input-checkbox + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 38px;
    height: 38px;
    border: 2px solid $dark-color;
  }

  &__input-checkbox:checked + .checkbox-indicator::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 22px;
    height: 16px;
    margin: 10px 0 0 7px;
    background: url("../img/icon-tick.svg") 0 0 no-repeat;
    background-size: cover;
  }

  &__input-checkbox:hover + .checkbox-indicator,
  &__input-checkbox:focus + .checkbox-indicator {
    border-color: $light-green-color;
  }

  &__input-checkbox:active + .checkbox-indicator {
    border-color: $down-black-link;
  }
}
