@import "../variables";

.contacts {
  padding: 0;

  .contacts__info-wrapper {
    padding: 0 30px;
  }

  .contacts__title {
    margin: 34px 0 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
  }

  .contacts__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .contacts__item {
    margin-bottom: 30px;

    &--address {
      display: flex;
    }

    &:last-child {
      margin-bottom: 36px;
    }
  }

  .contacts__item-title {
    //
  }

  .contacts__item-text {
    margin: 0 0 0 30px;
    vertical-align: middle;

    &--link {
      max-width: 100%;
      margin-left: 25px;
      padding-bottom: 2px;
      border-bottom: 1px solid $light-green-color;

      &:hover,
      &:focus {
        color: $light-green-color;
        border-bottom-color: $dark-green-color;
      }

      &:active {
        color: $dark-green-color;
        opacity: $down-link-opacity;
      }
    }
  }

  .contacts__map {
    width: 100%;
    height: 457px;
    margin-bottom: 40px;
    background: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position: 54% 41%, center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/icon-map-pin.svg"), url("../img/map-mobile@2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: auto, auto;
      background-position: 54% 41%, center;
    }
  }

  .contacts__button {
    display: block;
    max-width: 230px;
    margin: 0 auto 38px;
    text-align: center;
  }
}

@media (max-width: $mobile-width-only) {
  .contacts {
    //

    .contacts__button {
      max-width: 260px;
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 60px;

    .contacts__wrapper {
      display: flex;
      flex-direction: column;
      padding: 50px 0 57px;
    }

    .contacts__info-wrapper {
      padding: 0 50px;
    }

    .contacts__title {
      margin: 30px 0 50px;
      font-size: 43px;
      line-height: 50px;
    }

    .contacts__list {
      display: flex;
      margin-bottom: 18px;
      font-size: 17px;
    }

    .contacts__item {
      flex-basis: 50%;
    }

    .contacts__item-text {
      margin: 0 0 0 25px;

      &--link {
        margin-left: 20px;
      }
    }

    .contacts__map {
      margin-bottom: 55px;
      background: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: auto, cover;
      background-position: 52% 40%, center;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: url("../img/icon-map-pin.svg"), url("../img/map-tablet@2x.jpg");
        background-repeat: no-repeat, no-repeat;
        background-size: auto, cover;
        background-position: center, center;
      }
    }

    .contacts__button {
      max-width: 230px;
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 110px;

    .contacts__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 47px;
      padding-bottom: 105px;
    }

    .contacts__info-wrapper {
      flex-basis: 50%;
      max-width: 525px;
      padding: 0 0 0 170px;
    }

    .contacts__title {
      margin-top: 70px;
      font-size: 53px;
      line-height: 57px;
    }

    .contacts__list {
      flex-direction: column;
      margin-left: 5px;
      padding: 0;
    }

    .contacts__item {
      flex-basis: 50%;
    }

    .contacts__map {
      flex-basis: 50%;
      width: 525px;
      height: 457px;
      margin-bottom: 0;
      background: url("../img/icon-map-pin.svg"), url("../img/map-desktop@1x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: auto, cover;
      background-position: 52% 41%, center;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: url("../img/icon-map-pin.svg"), url("../img/map-desktop@2x.jpg");
        background-repeat: no-repeat, no-repeat;
        background-size: auto, cover;
        background-position: center, center;
      }
    }

    .contacts__button {
      margin: -53px 0 0 175px;
    }
  }
}
