@import "../variables";

.copyright {
  text-align: center;

  .copyright__text {
    font-weight: 700;
    font-size: 19px;
    line-height: 1;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
  }

  .copyright__link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    //

    .copyright__text {
      margin: 5px 0 0 0;
    }
  }
}
