@import "../variables";

.copyright {
  text-align: center;

  .copyright__text {
    font-weight: 700;
    font-size: 19px;
    line-height: 1;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
  }
}
