@import "../variables";

.intro {
  text-align: center;
  background-color: $bg-intro;
  border-top: 1px solid rgba(236, 236, 236, 1);
  border-bottom: 1px solid rgba(236, 236, 236, 1);

  &--main {
    background: url("../img/hero-mobile@1x.jpg") no-repeat -135px 0 $bg-intro;
  }

  .intro__title {
    margin: 70px 0;
  }

  .intro__list {
    margin: 0;
    padding: 0;
    color: $white-color;
    text-align: left;
    background-color: $bg-intro;
    list-style: none;
  }

  .intro__item {
    //
  }

  .intro__link {
    display: block;
    width: 100%;
    padding: 30px 120px 30px 30px;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $white-color;

    &--left {
      background-color: $light-green-color;
    }

    &--right {
      background-color: $dark-green-color;
    }
  }

  .intro__link-text {
    display: block;
    max-width: 140px;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    margin-top: -45px;

    .intro__wrapper {
      max-width: 600px;
      margin: 0 auto;
    }

    .intro__title {
      margin: 165px 0;
    }

    .intro__list {
      display: flex;
      flex-basis: 668px;
      padding: 0 50px;
    }

    .intro__item {
      flex-basis: 50%;
    }

    .intro__link {
      min-height: 108px;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    //

    .intro__wrapper {
      max-width: 900px;
    }

    .intro__title {
      margin: 165px 0;
    }

    .intro__list {
      display: flex;
      flex-basis: 668px;
      padding: 0 100px;
    }

    .intro__item {
      flex-basis: 50%;
    }

    .intro__link {
      min-height: 108px;
    }
  }
}
