@import "../variables";

.main-nav {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding-top: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
  color: $black-color;
  background-color: $white-color;
  z-index: 1;

  .main-nav__toggle {
    position: absolute;
    top: 21px;
    right: 24px;
    display: none;
    width: 35px;
    height: 35px;
    background: url("../img/icon-menu-open.svg") center center no-repeat;
    border: none;
    cursor: pointer;

    &--close {
      background: url("../img/icon-menu-close.svg") center center no-repeat;
    }
  }

  .main-nav__block {
    //

    &--close {
      display: none;
    }
  }

  .main-nav__item {
    padding: 28px 30px 28px 75px;
    line-height: 24px;
    box-shadow: inset 0 1px 1px -1px $border-color;

    &:last-of-type {
      box-shadow: inset 0 1px 1px -1px $border-color,
        inset 0 -1px 1px -1px $border-color;
    }
  }

  .main-nav__link {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;

    &[href]:hover,
    &[href]:focus {
      color: $hover-black-link;
    }

    &[href]:active {
      color: $down-black-link;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0;
    background-color: transparent;

    .main-nav__toggle {
      display: none;
    }

    .main-nav__block {
      display: flex;
    }

    .main-nav__item {
      padding: 0;
      line-height: 24px;
      box-shadow: none;
      border-left: 1px solid $border-color;

      &:last-of-type {
        margin-right: 0;
        box-shadow: none;
      }
    }

    .main-nav__inner-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      order: 2;
      flex-basis: 60%;
      margin-left: 20%;
      margin-bottom: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    //

    .main-nav__inner-wrapper {
      display: flex;
      justify-content: flex-end;
      order: 3;
      flex-basis: 40%;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}
