@import "../variables";

.main-nav {
  position: relative;
  display: block;
  width: 100%;

  .main-nav__toggle {
    position: absolute;
    top: 1px;
    right: 24px;
    display: block;
    width: 35px;
    height: 35px;
    background: url("../img/icon-menu-open.svg") center center no-repeat;
    border: none;
    cursor: pointer;

    &--open {
      background: url("../img/icon-menu-close.svg") center center no-repeat;
    }
  }

  .main-nav__wrapper {
    position: absolute; //relative для без js
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    margin-top: 38px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
    background-color: $white-color;

    &--close {
      display: none;
    }
  }

  .main-nav__list {
    margin: 0;
    padding: 0;
    line-height: 0;
    list-style: none;
  }

  .main-nav__item {
    padding: 28px 30px 28px 75px;
    line-height: 24px;
    box-shadow: inset 0 1px 1px -1px $border-color;

    &:last-of-type {
      box-shadow: inset 0 1px 1px -1px $border-color,
        inset 0 -1px 1px -1px $border-color;
    }
  }

  .main-nav__link {
    position: relative;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;

    &[href]:hover,
    &[href]:focus {
      color: $hover-black-link;
    }

    &[href]:active {
      color: $down-black-link;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: static;
    width: 100%;

    .main-nav__toggle {
      display: none;
    }

    .main-nav__wrapper {
      position: static;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: auto;
      margin: 0;
      padding: 0;
      background-color: transparent;
    }

    .main-nav__list {
      display: flex;
      flex-wrap: wrap;
      order: 2;
    }

    .main-nav__item {
      padding: 0;
      line-height: 24px;
      box-shadow: none;
      border-left: 1px solid $border-color;

      &:last-of-type {
        margin-right: 0;
        box-shadow: none;
      }
    }

    .main-nav__inner-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      order: 1;
      flex-basis: 80%;
      margin-left: 20%;
      margin-bottom: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    //

    .main-nav__list {
      order: 1;
      flex-basis: 40%;
      margin-right: 10%;
    }

    .main-nav__inner-wrapper {
      display: flex;
      justify-content: flex-end;
      order: 2;
      flex-basis: 40%;
      margin-left: 10%;
      margin-bottom: 0;
    }
  }
}
