@import "../variables";

.name {
  //

  .name__title {
    margin-top: 8px;
    margin-bottom: 30px;
  }

  .name__list {
    padding: 0 0 1px 0;
  }

  .name__item {
    margin-bottom: 26px;
  }

  .name__label {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .name {
    padding: 51px 0 25px;

    .name__title {
      margin-top: 15px;
    }

    .name__item {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }

    .name__label {
      margin-right: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .name {
    //
  }
}
