@import "../variables";

.order {
  margin-bottom: 30px;

  .order__text {
    font-size: 13px;
    line-height: 24px;
  }

  .order__fieldset {
    border: none;
  }

  .order__title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 1;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $light-green-color;
    text-transform: uppercase;

    &::after {
      content: "";
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      width: 50px;
      height: 1px;
      margin-left: 25px;
      background-color: $light-green-color;
    }
  }

  .order__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .order__label {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
  }

  .order__input {
    display: block;
    width: 100%;
    padding: 15px 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $black-color;
    cursor: pointer;

    &--textarea {
      display: block;
      width: 100%;
      min-height: 140px;
      padding: 17px;
      border: 2px solid $black-color;
      cursor: pointer;
    }
  }

  .order__input:hover,
  .order__input:active {
    border-color: $light-green-color;
  }

  .order__form-text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: $tablet-width) {
  .order {
    //

    .order__text {
      font-size: 17px;
      line-height: 30px;
    }

    .order__fieldset {
      display: flex;
      border-top: none;
    }

    .order__fieldset-phone,
    .order__fieldset-email {
      background-color: $bg-intro;
    }

    .order__title {
      flex-grow: 1;
      align-items: flex-start;

      &::after {
        display: none;
      }
    }

    .order__list {
      flex-basis: 75%;
    }

    .order__label {
      font-size: 19px;
      line-height: 1;
    }

    .order__input {
      //

      &--phone,
      &--email,
      &--textarea {
        flex-basis: 75%;
      }
    }

    .order__form-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .order__form-text {
      order: 2;
      font-size: 17px;
      line-height: 30px;
    }

    .order__button {
      order: 1;
      max-width: 230px;
    }
  }
}

@media (min-width: $desktop-width) {
  .order {
    //

    .order__form-info {
      padding-left: 25%;
    }
  }
}
