@import "../variables";

.order {
  margin-bottom: 30px;

  .order__text {
    font-size: 13px;
    line-height: 24px;
  }

  .order__fieldset {
    margin: 0;
    padding: 30px 0;
    border: none;
    border-top: 1px solid $light-green-color;
  }

  .order__title {
    padding-right: 25px;
    font-weight: 700;
    font-size: 17px;
    line-height: 1;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $light-green-color;
    text-transform: uppercase;
  }

  .order__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .order__label {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
  }

  .order__input {
    display: block;
    width: 100%;
    padding: 15px 0;
    border: none;
    border-bottom: 2px solid $black-color;
    cursor: pointer;
  }

  .order__input:hover,
  .order__input:active {
    border-color: $light-green-color;
  }

  .order__textarea-input {
    display: block;
    width: 100%;
    min-height: 140px;
    padding: 17px;
    border: 2px solid $black-color;
    cursor: pointer;
  }
}
