@import "../variables";

.order {
  margin-bottom: 30px;

  &__text {
    font-size: 13px;
    line-height: 24px;
  }

  &__fieldset {
    margin: 0;
    padding: 30px 0;
    border: none;
    border-top: 1px solid $light-green-color;
  }

  &__title {
    padding-right: 25px;
    font-weight: 700;
    font-size: 17px;
    line-height: 1;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $light-green-color;
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__label {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 15px 0;
    border: none;
    border-bottom: 2px solid $black-color;
    cursor: pointer;
  }

  &__input:hover,
  &__input:active {
    border-color: $light-green-color;
  }

  &__textarea-input {
    display: block;
    width: 100%;
    min-height: 140px;
    padding: 17px;
    border: 2px solid $black-color;
    cursor: pointer;
  }

  //&__input:hover,
  //&__input:active {
  //  border-color: $light-green-color;
  //}
}
