@import "../variables";

.page-footer {
  display: flex;
  flex-direction: column;
  background-color: $bg-intro;

  .page-footer__logo {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

    .page-footer__block {
      //
    }

    .page-footer__logo {
      display: flex;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    //
  }
}
