@import "../variables";

.page-header {
  position: relative;
  display: flex;
  padding: 20px 0 0 0;

  .page-header__logo {
    display: block;
    margin: 0 auto 15px;
    text-align: center;
  }

  .page-header__logo-image {
    width: 86px;
    height: 35px;

    &[href]:hover,
    &[href]:focus {
      opacity: $hover-link-opacity;
    }

    &[href]:active {
      opacity: $down-link-opacity;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    justify-content: flex-end;
    padding: 0 50px;

    .page-header__logo {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 113px;
      height: 46px;
      margin: 10px 0 0 50px;
      z-index: 2;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    justify-content: flex-start;
    padding: 0;

    .page-header__logo {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 149px;
      height: 72px;
      margin: 0 50%;
      transform: translateX(-50%);
    }
  }
}
