@import "../variables";

.page-footer {
  background-color: $bg-intro;

  .page-footer__wrapper {
    display: flex;
    flex-direction: column;
  }

  .page-footer__logo {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 50px;

    .page-footer__wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .page-footer__block {
      //
    }

    .page-footer__logo {
      display: flex;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    //
  }
}
