@import "../variables";

.page-main {
  //

  .page-main__section {
    //
  }

  .page-main__title {
    margin: 30px 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
  }


  .page-main__title-link {
    color: $black-color;
  }
}

@media (min-width: $tablet-width) {
  .page-main {
    //

    .page-main__section {
      //
    }

    .page-main__title {
      font-size: 43px;
      line-height: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    //

    .page-main__section {
      //
    }

    .page-main__title {
      font-size: 53px;
      line-height: 57px;
      z-index: 2;
    }
  }
}
