@import "../variables";

.popular-product {
  padding-bottom: 40px;

  .popular-product__title {
    margin: 26px 0 5px 0;
  }

  .popular-product__marker {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $light-green-color;
    text-transform: uppercase;
  }

  .popular-product__text {
    margin-top: 22px;
    line-height: 24px;
  }

  .popular-product__group {
    width: 100%;
    margin-bottom: 26px;
    line-height: 20px;
  }

  .popular-product__group-fields {
    margin-bottom: 30px;
    line-height: 20px;
    box-shadow: inset 0 -1px 1px -1px $border-color;
  }

  .popular-product__field {
    padding: 9px 0 10px 0;
    font-weight: 400;
    text-align: left;
  }

  .popular-product__value {
    padding: 9px 0 10px 15px;
  }

  .popular-product__photo-wrapper {
    margin-bottom: 15px;
    text-align: center;
  }

  .popular-product__photo {
    margin: 0;
  }

  .popular-product__photo-image {
    max-width: 100%;
  }

  .popular-product__price-info {
    //
  }

  .popular-product__price {
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .popular-product {
    padding-bottom: 60px;

    .popular-product__wrapper {
      display: flex;
    }

    .popular-product__title {
      margin: 45px 0 30px 0;
    }

    .popular-product__title-wrapper {
      justify-content: space-between;
    }

    .popular-product__marker {
      align-self: center;
      max-width: 80px;
      margin-top: 25px;
      margin-right: 25px;
      line-height: 17px;
      text-align: center;
    }

    .popular-product__info-wrapper {
      //flex-direction: column;
      flex-wrap: wrap;
    }

    .popular-product__info,
    .popular-product__price-info {
      flex-basis: 50%;
      max-width: 50%;
      padding-right: 43px;
    }

    .popular-product__text {
      margin-bottom: 30px;
      font-size: 17px;
      line-height: 30px;
    }

    .popular-product__value {
      padding-left: 0;
    }

    .popular-product__photo-wrapper {
      flex-basis: 50%;
      max-width: 50%;
      margin-top: 26px;
      margin-bottom: 0;
    }

    .popular-product__photo-image {
      width: 100%;
      height: auto;
    }

    .popular-product__price-info {
      margin-top: -120px;
    }

    .popular-product__price {
      margin-bottom: 35px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .popular-product {
    padding-top: 80px;
    padding-bottom: 95px;

    //.popular-product__wrapper {
    //  display: flex;
    //}

    .popular-product__title-wrapper {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    .popular-product__marker {
      margin: 20px 50px 0 40px;
    }

    .popular-product__info-wrapper {
      margin-top: -150px;
    }

    .popular-product__info {
      margin-top: 150px;
    }

    .popular-product__text {
      margin-top: 15px;
      margin-bottom: 45px;
    }

    .popular-product__photo-wrapper {
      margin-top: 10px;
    }

    .popular-product__info,
    .popular-product__price-info {
      max-width: 525px;
      padding-left: 173px;
      padding-right: 60px;
    }

    .popular-product__price-info {
      margin-top: -122px;
    }
  }
}
