@import "../variables";

.product {
  margin-bottom: 30px;

  .product__photo-link {
    display: inline-block;
    vertical-align: middle;
  }

  .product__photo {
    margin: 0;
    line-height: 0;
  }

  .product__photo-image {
    width: 260px;
    height: 195px;
  }

  .product__info {
    padding: 35px 28px;
    box-shadow: inset 0 0 0 1px $border-color;
  }

  .product__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;

    a {
      color: $black-color;
    }
  }

  .product__description {
    font-size: 13px;
  }

  .product__wrapper {
    //
  }

  .product__price-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    box-shadow: inset 0 1px 1px -1px $border-color;
  }

  .product__price {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
  }

  .product__button {
    width: 21px;
    height: 21px;
    background: url("../img/icon-cart.svg") center center no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .product {
    //

    .product__photo-link {
      flex-basis: 50%;
      height: 334px; //временно
    }

    .product__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 50%;
      padding: 30px;
    }

    .product__title {
      font-size: 20px;
    }

    .product__description {
      font-size: 15px;
    }

    .product__price {
      font-size: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    //
  }
}
