@import "../variables";

.production {
  margin-bottom: 60px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 0 0 1px $border-color;

  .production__title-wrapper {
    padding: 0 30px 0 90px;
    background: url("../img/icon-video.svg") 33px center no-repeat;
  }

  .production__title {
    margin: 30px 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
  }

  .production__video-wrapper {
    position: relative;
    line-height: 0;
  }

  .production__video {
    width: 100%;
  }

  .production__playpause {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 102px;
    height: 78px;
    margin: -38px 0 0 -51px;
    background: url("../img/icon-play.svg") 0 0 no-repeat;
    border: none;
    cursor: pointer;
  }

  .production__text-wrapper {
    padding: 0 33px 30px 33px;
  }

  .production__text {
    font-size: 13px;
    line-height: 24px;
  }

  .production__button {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .production {
    display: flex;
    flex-direction: column;

    .production__title-wrapper {
      order: 2;
    }

    .production__title {
      font-size: 20px;
    }

    .production__video-wrapper {
      order: 1;
    }

    .production__video {
      width: 100%;
      height: auto;
    }

    .production__text-wrapper {
      order: 3;
    }

    .production__text {
      font-size: 15px;
      line-height: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .production {
    align-items: flex-end;
    position: relative;

    .production__title-wrapper {
      order: 1;
      width: 30%;
      margin-top: 40px;
      padding: 30px 45px 0 33px;
      background-position: 33px 0;
    }

    .production__video-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 682px;
    }

    .production__text-wrapper {
      order: 2;
      width: 30%;
    }
  }
}
