@import "../variables";

.product {
  margin-bottom: 30px;

  .product__photo-link {
    line-height: 0;
  }

  .product__photo {
    display: block;
  }

  .product__photo-image {
    width: 100%;
    height: 100%;
  }

  .product__info {
    padding: 26px 28px;
    box-shadow: inset 0 0 0 1px $border-color;
  }

  .product__title {
    margin: 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;

    a {
      color: $black-color;

      &:hover,
      &:focus {
        color: $hover-black-link;
      }

      &:active {
        color: $down-black-link;
      }
    }
  }

  .product__description {
    margin: 9px 0;
    font-size: 13px;
  }

  .product__price-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    box-shadow: inset 0 1px 1px -1px $border-color;
  }

  .product__price {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
  }

  .product__button {
    width: 21px;
    height: 21px;

    &:hover .product__icon,
    &:focus .product__icon {
      fill: $light-green-color;
      fill-opacity: 1;
    }

    &:active .product__icon {
      fill-opacity: $down-link-opacity;
    }
  }

  .product__icon {
    fill-opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .product {
    margin-bottom: 53px;

    &:last-of-type {
      margin-bottom: 49px;
    }

    .product__photo-link {
      flex-basis: 50%;
    }

    .product__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 50%;
      padding: 27px 33px 29px 27px;
    }

    .product__title {
      padding-right: 35px;
      font-size: 20px;
    }

    .product__description {
      margin: 5px 0;
      font-size: 15px;
    }

    .product__price-wrapper {
      margin-left: 5px;
      padding-top: 22px;
    }

    .product__price {
      font-size: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    //

    &:hover .product__info {
      box-shadow: 0 6px 10px 0 $border-color;
    }

    &:active .product__info {
      box-shadow: 0 3px 5px 0 $border-color;
    }

    .product__photo-link {
      flex-basis: 100%;
    }

    .product__title {
      padding-right: 20px;
    }

    .product__price-wrapper {
      margin-top: 11px;
      margin-left: 0;
    }
  }
}
