@import "../variables";

.production {
  margin-bottom: 60px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 0 0 1px $border-color;

  &__title-wrapper {
    padding: 0 30px 0 90px;
    background: url("../img/icon-video.svg") 33px center no-repeat;
  }

  &__title {
    margin: 30px 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
  }

  &__video-wrapper {
    position: relative;
    line-height: 0;
  }

  &__playpause {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 102px;
    height: 78px;
    margin: 50% 0 0 50%;
    background: url("../img/icon-play.svg") 0 0 no-repeat;
    border: none;
    transform: translate(-51px, -94px);
    cursor: pointer;
  }

  &__text-wrapper {
    padding: 0 33px 30px 33px;
  }

  &__text {
    font-size: 13px;
    line-height: 24px;
  }

  &__button {
    width: 100%;
  }
}
