@import "../variables";

.reviews {
  padding: 0 30px;

  .reviews__item {
    margin: 0 0 30px 0;
  }

  .reviews__author {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-name {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    color: $black-color;
  }

  .reviews__author-link {
    font-style: italic;
  }

  .reviews__indicators {
    display: flex;
    margin-bottom: 30px;
  }

  .reviews__indicator {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid $border-color;
    cursor: pointer;

    &--previous {
      background: url("../img/icon-left-arrow.svg") center center no-repeat;
    }

    &--next {
      background: url("../img/icon-right-arrow.svg") center center no-repeat;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background: url("../img/review@1x.jpg") 0 0 no-repeat;

    .reviews__title {
      order: 1;
    }

    .reviews__group {
      display: flex;
      flex-direction: column;
      order: 3;
    }

    .reviews__indicators {
      align-self: flex-end;
      width: 176px;
      margin-top: -70px;
    }

    .reviews__indicator {
      //
    }

    .reviews__button {
      order: 2;
      max-width: 176px;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin: 0 auto;
    padding: 0 0 0 175px;
  }
}
