@import "../variables.scss";

.site-list {
  //
}

@media (min-width: $tablet-width) {
  .site-list {
    //

    .site-list__item {
      margin-right: 35px;
    }

    .site-list__link {
      font-size: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    //

    .site-list__item {
      margin-right: 0;
      padding: 32px 0 30px;

      &:first-child {
        padding-right: 32px;
        border-left: none;
      }

      &:nth-of-type(2) {
        padding-left: 38px;
      }
    }

    .site-list__link {
      font-size: 17px;
    }
  }
}
