@import "../variables";

.social {
  padding: 25px 0;
  border-bottom: 1px solid $border-color;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-right: 30px;
    line-height: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;

    &--instagram {
      background: url("../img/icon-insta.svg") center center no-repeat;
    }

    &--facebook {
      background: url("../img/icon-fb.svg") center center no-repeat;
    }

    &--twitter {
      background: url("../img/icon-twitter.svg") center center no-repeat;
    }
  }
}
