@import "../variables";

.type {
  //

  &__item {
    margin-bottom: 30px;
  }

  &__label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 65px;
    cursor: pointer;
  }

  &__input-radio + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 38px;
    height: 38px;
    border: 2px solid $dark-color;
    border-radius: 50%;
  }

  &__input-radio:checked + .checkbox-indicator {
    box-shadow: inset 0 0 0 10px $white-color,
      inset 40px 40px 0 0 $light-green-color;
  }

  &__input-radio:hover + .checkbox-indicator,
  &__input-radio:focus + .checkbox-indicator {
    border-color: $light-green-color;
  }

  &__input-radio:active + .checkbox-indicator {
    border-color: $down-black-link;
  }

  &__input-radio:checked:active + .checkbox-indicator {
    border-color: $down-black-link;
  }
}
