@import "../variables";

.type {
  .type__title {
    margin-bottom: 25px;
  }

  .type__list {
    margin-bottom: 33px;
    padding: 0 0 1px 0;
  }

  .type__item {
    margin-bottom: 10px;
  }

  .type__label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-top: 9px;
    padding-left: 63px;
    cursor: pointer;
  }

  .type__input-radio + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 38px;
    height: 38px;
    border: 2px solid $dark-color;
    border-radius: 50%;
  }

  .type__input-radio:checked + .checkbox-indicator {
    box-shadow: inset 0 0 0 10px $white-color,
      inset 40px 40px 0 0 $light-green-color;
  }

  .type__input-radio:hover + .checkbox-indicator,
  .type__input-radio:focus + .checkbox-indicator {
    border-color: $light-green-color;
  }

  .type__input-radio:active + .checkbox-indicator {
    border-color: $down-black-link;
  }

  .type__input-radio:checked:active + .checkbox-indicator {
    border-color: $down-black-link;
  }

  .type__input-radio:disabled + .checkbox-indicator,
  .type__input-radio:disabled:hover + .checkbox-indicator,
  .type__input-radio:disabled:active + .checkbox-indicator {
    border-color: $dark-color;
    opacity: $down-link-opacity;
    cursor: default;
  }
}

@media (min-width: $tablet-width) {
  .type {
    margin-top: 58px;

    .type__title {
      margin-top: 15px;
    }

    .type__list {
      margin-bottom: 25px;
    }

    .type__item {
      margin-bottom: 27px;
    }

    .type__label {
      padding: 15px 0 15px 80px;
    }

    .type__input-radio + .checkbox-indicator {
      width: 52px;
      height: 52px;
    }

    .type__input-radio:checked + .checkbox-indicator {
      box-shadow: inset 0 0 0 13.5px $white-color,
        inset 52px 52px 0 0 $light-green-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .type {
    .type__list {
      margin-bottom: 23px;
    }
  }
}
