@import "../variables.scss";

.user {
  //
}

@media (min-width: $tablet-width) {
  .user {
    //

    .user__item {
      padding: 33px 0 33px 85px;
    }

    .user__link {
      display: inline-block;
      vertical-align: middle;
    }

    .user__link-hide {
      font-size: 0;
      line-height: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .user {
    //

    .user__item {
      padding: 30px 0 33px 85px;
    }
  }
}
